<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="card">

        <h1>Вход</h1>

        <p class="subtitle">Войдите в аккаунт</p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" id="loginForm">

            <input  id = "loginInput" type="text" name="login" placeholder="Логин или Email" required>
            <div id="loginError" class="field-error"></div>

            <input  id = "loginPassword" type="password" name="password" placeholder="Пароль" required>
            <div id="loginPasswordError" class="field-error"></div>

            <div class="captcha-box">
                <span>{{ captcha }} = ?</span>
            </div>

            <input id = "loginCaptcha" type="number" name="captcha" placeholder="Ответ" required>
            <div id="loginCaptchaError" class="field-error"></div>

            <div id="loginError" class="error-message"></div>

            <button type="submit">Войти</button>    

        </form>

        <p class="bottom-text">
            Нет аккаунта?
            <a href="/register">Регистрация</a>
        </p>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>