<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

</body>

<body>

    <div class="card">

        <h1>Регистрация</h1>

        <p class="subtitle">Создайте новый аккаунт</p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" id="registerForm">

            <input id="username" type="text" name="username" placeholder="Имя пользователя" required minlength="3"
                maxlength="20">

            <div id="usernameError" class="field-error"></div>

            <input id="email" type="email" name="email" placeholder="Email" required>

            <div id="emailError" class="field-error"></div>

            <input id="password" type="password" name="password" placeholder="Пароль" required minlength="6">

            <div id="passwordError" class="field-error"></div>

            <input id="confirm" type="password" name="confirm" placeholder="Подтвердите пароль" required>

            <div id="confirmError" class="field-error"></div>

            <div class="captcha-box">
                <span>{{ captcha }} = ?</span>
            </div>

            <input id="captcha" type="number" name="captcha" placeholder="Ответ" required>
            <div id="captchaError" class="field-error"></div>

            <div id="registerError" class="error-message"></div>

            <button type="submit">Зарегистрироваться</button>

        </form>

        <p class="bottom-text">
            Уже есть аккаунт?
            <a href="/login">Войти</a>
        </p>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>